body {
    background-color: white;
}

.main-titlebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #E3781F;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
}

h1 {
    padding-top: 60px;
    color: #E3781F; 
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42px;
}

.horizontal-menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #aaaaaa;
    font-weight: lighter;
    padding: 0px;
}

.horizontal-menu li {
    margin: 0 10px;
}

.horizontal-menu li a {
    text-decoration: none;
    color: inherit; 
    transition: color 0.3s ease-in-out;
}

.horizontal-menu li a:hover {
    color: #000;
    opacity: 1;
}

.horizontal-menu li a.active {
    color: #E3781F;
    font-weight: bold;
    background-color: #f0f0f0;
}

.content-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    padding-left: 120px;
    padding-right: 40px;
}

.content-image {
    width: 40%;
    height: auto;
    /* object-fit: cover; */
    margin-right: 5px;
    margin-left: 40px;
}

.text-content {
    width: 35%;
    padding-right: 140px;
    padding-bottom: 125px;
}

.text-content h2 {
    color: #E3781F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
}

.text-content p {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    line-height: 1.6;
}